<!DOCTYPE html>

<!-- Load static files, bootstrap etc. -->
{% load static %}
{% load bootstrap4 %}

<html lang="en">

<!-- Header for the HTML pages i.e. definitions and inclusions. -->
<head>

	<!-- Define the meta tags for the site. -->
	<meta charset="utf-8">
	<meta name="description" content="KitUp, find active players around you!">
	<meta name="keywords" content="Football, Sport, Active, KitUp, Games, Events">
	<meta name="author" content="Kitup">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Include bootstrap4 CSS3. -->
	{% bootstrap_css %}

	<!-- Include custom CSS3. -->
	<link rel="stylesheet" type="text/css" href="{% static 'kitup/css/kitup.css' %}">

	<!-- Define the title of the page. -->
	<title>KitUp - {% block title_block %}Welcome!{% endblock %}</title>
</head>

<!-- Body for the HTML pages i.e. content. -->
<body>

	<!-- The navbar for the page i.e. the main navigation menu. -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			
			<!-- Provides a link to the main home page on the website. -->
			<a class="navbar-brand" href="{% url 'kitup:index' %}">KitUp</a>

			<!-- Provides the navbar burger menu for small screens. -->
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navigation bar options. -->
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

					<!-- Home option to get to the home page. -->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'kitup:index' %}">Home</a>
					</li>
					
					<!-- Display options depending on whether or not the user is logged in. -->
					{% if user.is_authenticated %}

						<!-- The user has been authenticated, they can view their profile, settings and logout. -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:profile' %}">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:settings' %}">Settings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:logout' %}">Logout</a>
						</li>

					{% else %}

						<!-- The user has not been authenticated, they must log in. -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:login' %}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:register' %}">Register</a>
						</li>

					{% endif %}
					
				</ul>
			</div>
		</div>
	</nav>

	<!-- Body content block for the page. -->
	{% block content_block %}
	{% endblock %}

	<!-- Footer used for displaying the copyright notice and other links. -->
	<footer class="py-3 bg-dark kitup-sticky-footer">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; KitUp 2020 - University of Glasgow</p>
		</div>
	</footer>

	<!-- Include bootstrap4 JS. -->
	{% bootstrap_javascript jquery="full" %}

	<!-- Include JS / JQuery plugins. -->

	<!-- Include custom JS / JQuery. -->

</body>
</html>