<!DOCTYPE html>

<!-- Load static files, bootstrap etc. -->
{% load static %}
{% load bootstrap4 %}

<html lang="en">
<head>

	<!-- Define the meta tags for the site. -->
	<meta charset="utf-8">
	<meta name="description" content="KitUp, find active players around you!">
	<meta name="keywords" content="Football, Sport, Active, KitUp, Games, Events">
	<meta name="author" content="Kitup">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Include bootstrap4 CSS3 across all pages. -->
	{% bootstrap_css %}

	<!-- Include custom CSS3 across all pages. -->
	<link rel="stylesheet" type="text/css" href="{% static 'kitup/css/kitup.css' %}">
	<link href="{% static 'kitup/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

	<!-- Inclusion of page specific css files. -->
	{% block css_block %}
	{% endblock %}

	<!-- Inclusion of page specific js files. -->
	{% block js_block %}
	{% endblock %}

	<!-- Define the title of the page. -->
	<title>KitUp - {% block title_block %}Welcome!{% endblock %}</title>

</head>

<!-- Permits the body tag to be changed.  -->
{% block body_opening_tag %}
<body>
{% endblock %}

	<!-- The navbar for the page i.e. the main navigation menu. -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			
			<!-- Provides a link to the main home page on the website. -->
			<a class="navbar-brand" href="{% url 'kitup:index' %}">KitUp</a>

			<!-- Provides the navbar burger menu for small screens. -->
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navigation bar options. -->
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

					<!-- Home option to get to the home page. -->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'kitup:index' %}"><i class="fas fa-home"></i> Home</a>
					</li>
					
					<!-- Display options depending on whether or not the user is logged in. -->
					{% if user.is_authenticated %}

						<!-- The user has been authenticated, they can view their profile, settings and logout. -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:user_profile' %}"><i class="fas fa-user"></i> Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:user_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
						</li>

					{% else %}

						<!-- The user has not been authenticated, they must log in. -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:user_login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kitup:user_register' %}"><i class="fas fa-plus"></i> Register</a>
						</li>

					{% endif %}
					
				</ul>
			</div>
		</div>
	</nav>

	<!-- Body content block for the page. -->
	{% block content_block %}
	{% endblock %}

	<!-- Include bootstrap4 JS. -->
	{% bootstrap_javascript jquery="full" %}

</body>
</html>