{% extends 'kitup/base.html' %}
{% load staticfiles %}

<!-- Override the title of the page. -->
{% block title_block %}
	Home!
{% endblock %}

<!-- Override the content block for the page. -->
{% block content_block %}

<!-- Define the index page content. -->
<div class="container">

	<!-- Defines the jumbotron for the page. -->
	<div class="row mt-5">
		<div class="col jumbotron">

			<!-- Define the heading for the page. -->
			<h1 class="display-4">
				{% if user.is_authenticated %}
					KitUp
				{% else %}
					KitUp Now!
				{% endif %}
			</h1>
			<h2 class="load font-weight-light">
				{% if user.is_authenticated %}
					Hello, {{ user.username }}! Are you Ready?
				{% else %}
					A world of sports on your doorstep!
				{% endif %}
			</h2>

			<!-- Split the jumbotron. -->
			<hr class="my-4">
			
			<!-- Display the appropriate messages in the jumbotron. -->
			<p>
				{% if user.is_authenticated %}
					Create or select a match in order to get started!
				{% else %}
					Register now in order to participate in a wide array of matches nearby, today! Alternatively, click the 'Learn More' button for a brief overview of the site and instructions on how to get started.
				{% endif %}
			</p>

			<!-- Display the appropriate buttons depending on whether or not the user 
			is authenticated. -->
			<p class="lead">
				{% if user.is_authenticated %}
					<a class="btn btn-success btn-lg mr-2" href="{% url 'kitup:match_create' %}" role="button">Create Match</a>
					<a class="btn btn-dark btn-lg" href="#public_matches" role="button">Join Match</a>
				{% else %}
					<a class="btn btn-success btn-lg mr-2" href="{% url 'kitup:user_register' %}" role="button">Register Now</a>
					<a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
				{% endif %}
			</p>

		</div>
	</div>

	<!-- Display the heading for the index page. -->
	<div id="public_matches" class="row">
		<div class="col-lg-12 text-center">
			<h2 class="font-weight-light">Public Matches</h2>
			<h5 class="font-weight-light text-muted">Find Matches Nearby</h5>
		</div>
	</div>

	<!-- Search bar is used to find matches by specific names. -->
	<form class="my-4" action="">
		<div class="input-group mb-4">
			<input type="search" placeholder="Search for public and private matches" aria-describedby="match-search-btn" class="form-control">
			<div class="input-group-append">
				<button id="match-search-btn" type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
			</div>
		</div>
	</form>

	<hr>

	<!-- Display the public matches. -->
	<div class="row my-5">

		<!-- Define the card that's utilised for the addition of new players. -->
		<div class="col-lg-4 col-md-6 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="http://placehold.it/500x325">
				
				<!-- Define the match description. -->
				<div class="card-body">
					
					<!-- The name of the match. -->
					<h4 class="card-title font-weight-light text-center">Game Name</h4>

					<!-- General Description of match. -->
					<dl class="row card-text">
						<dt class="font-weight-light col-sm-4">Sport:</dt>
						<dd class="col-sm-8">Football</dd>
						<dt class="font-weight-light col-sm-4">Date:</dt>
						<dd class="col-sm-8">June, 6 10:20 until 11:20</dd>
						<dt class="font-weight-light col-sm-4">Location:</dt>
						<dd class="col-sm-8">35 Middleton Park, Brechin.</dd>
					</dl>
				</div>

				<!-- Options for joining or leaving the match. -->
				<div class="card-footer text-center">
					<a class="btn btn-success mr-2" href="#" role="button">Join Match</a>
					<a class="btn btn-dark" href="#" role="button">View Details</a>
				</div>

			</div>
		</div>
	</div>

	<hr>

</div>

{% endblock %}