{% extends 'kitup/base.html' %}
{% load static %}

<!-- Override the title of the page. -->
{% block title_block %}
	Home!
{% endblock %}

<!-- Override the content block for the page. -->
{% block content_block %}

<!-- Define the index page content. -->
<div class="container">

	<!-- Defines the jumbotron for the page. -->
	<div class="row mt-5">
		<div class="col jumbotron">

			<!-- Define the heading for the page. -->
			<h1 class="display-4">
				{% if user.is_authenticated %}
					KitUp
				{% else %}
					KitUp Now!
				{% endif %}
			</h1>
			<h2 class="load font-weight-light">
				{% if user.is_authenticated %}
					Hello, {{ user.username }}! Are you Ready?
				{% else %}
					A world of sports on your doorstep!
				{% endif %}
			</h2>

			<!-- Split the jumbotron. -->
			<hr class="my-4">
			
			<!-- Display the appropriate messages in the jumbotron. -->
			<p>
				{% if user.is_authenticated %}
					Create or select a match in order to get started!
				{% else %}
					Register now in order to participate in a wide array of matches nearby, today! Alternatively, click the 'Learn More' button for a brief overview of the site and instructions on how to get started.
				{% endif %}
			</p>

			<!-- Display the appropriate buttons depending on whether or not the user 
			is authenticated. -->
			<p class="lead">
				{% if user.is_authenticated %}
					<a class="btn btn-success btn-lg mr-2" href="{% url 'kitup:match_create' %}" role="button">Create Match</a>
					<a class="btn btn-dark btn-lg" href="#public_matches" role="button">Join Match</a>
				{% else %}
					<a class="btn btn-success btn-lg mr-2" href="{% url 'kitup:user_register' %}" role="button">Register Now</a>
					<a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
				{% endif %}
			</p>

		</div>
	</div>

	<!-- Display the heading for the index page. -->
	<div id="public_matches" class="row">
		<div class="col-lg-12 text-center">
			<h2 class="font-weight-light">Public Matches</h2>
			<h5 class="font-weight-light text-muted">Find Matches Nearby</h5>
		</div>
	</div>

	<!-- Split the heading from the match. -->
	<hr>

	<!-- Display all of the upcoming matches. -->
	{% for match in matches %}

		<!-- If we're displaying the first match, open a new row. -->
		{% if forloop.first %}<div class="row my-5">{% endif %}

		<!-- Generate the match card. -->
		<div class="col-lg-4 col-md-6 mb-4">
			<div class="card h-100">

				<!-- Define the match image. -->
				<img class="card-img-top" src="http://placehold.it/500x325">
				
				<!-- Define the match description. -->
				<div class="card-body">
					
					<!-- The name of the match. -->
					<h4 class="card-title font-weight-light text-center">{{ match.name }}</h4>

					<!-- General Description of match. -->
					<dl class="row card-text">
						<dt class="font-weight-light col-sm-4">Sport:</dt>
						<dd class="col-sm-8">{{ match.sport.name }}</dd>
						<dt class="font-weight-light col-sm-4">Date:</dt>
						<dd class="col-sm-8">June, 6 10:20 until 11:20</dd>
						<dt class="font-weight-light col-sm-4">Location:</dt>
						<dd class="col-sm-8">35 Middleton Park, Brechin.</dd>
					</dl>
				</div>

				<!-- Options for joining or leaving the match. -->
				<div class="card-footer text-center">
					<div class="row">

						{% if not user.is_authenticated %}

							<!-- The user has not been authenticated, they can only view the details. -->
							<div class="col">
								<a class="btn btn-dark w-100" href="{% url 'kitup:match_view' match.id %}" role="button">View Details</a>
							</div>

						{% else %}

							{% if match.owner == user %}

								<!-- START: Cancel Match Button and Modal. -->
								<div class="col-6 pr-1">
									<button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#cancelMatchConfirmationModal{{ match.id }}">Cancel Match</button>
									<div class="modal fade" id="cancelMatchConfirmationModal{{ match.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelMatchConfirmationModalTitle{{ match.id }}" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="cancelMatchConfirmationModalTitle{{ match.id }}">Cancel Match: {{ match.name }}</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body text-left">
													<p>By clicking <q>Cancel</q> the match <q>{{ match.name }}</q> will be cancelled from running. Consequently, this match will no longer be accessible.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
													<a class="btn btn-danger" href="{% url 'kitup:match_leave' match.id %}" role="button">Cancel Match</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END: Cancel Match Button and Modal. -->

							{% else %}

								{% if match in participating_matches or match in pending_matches %}
								{% else %}

									

								{% endif %}

							{% endif %}

							<!-- Display the view details button. -->
							<div class="col-6 pl-1">
								<a class="btn btn-dark w-100" href="{% url 'kitup:match_view' match.id %}" role="button">View Details</a>
							</div>

						{% endif %}
					</div>
				</div>

			</div>
		</div>

		<!-- Process rows. -->
		{% if forloop.last %}
			</div>
		{% else %}
			{% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
		{% endif %}

	{% endfor %}

	<hr>

</div>

{% endblock %}