{% extends 'kitup/base.html' %}
{% load crispy_forms_tags %}
{% load match_template_tags %}

<!-- Overwrite the title of the page. -->
{% block title_block %}
Viewing Match
{% endblock %}

<!-- Overwrite the opening body tag. -->
{% block body_opening_tag %}
<body class=".kitup-padding-top-56px">
{% endblock %}

<!-- Overwrite the content block - display the match content. -->
{% block content_block %}

<!-- The page content. -->
<div class="container">
	
	<!-- Define the header row - the location, options and information. -->
	<div class="row align-items-center my-5">

		<!-- Google maps displays the location of the match. -->
		<div class="col-lg-7">
			<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
		</div>

		<!-- Display information and options about the match. -->
		<div class="col-lg-5">

			<!-- General information about the match. -->
			<h1 class="font-weight-light">{{ match.name}}</h1>
			<dl class="row">
				<dt class="font-weight-light col-sm-3">Sport:</dt>
				<dd class="col-sm-9">{{ match.sport.name }}</dd>
				
				<dt class="font-weight-light col-sm-3">Date:</dt>
				<dd class="col-sm-9">June, 6 10:20 until 11:20</dd>
				<dt class="font-weight-light col-sm-3">Location:</dt>
				<dd class="col-sm-9">35 Middleton Park, Brechin.</dd>
				
				<dt class="font-weight-light col-sm-3">Ages:</dt>
				<dd class="col-sm-9">{{ match.min_age }} to {{ match.max_age }}</dd>
				<dt class="font-weight-light col-sm-3">Min. Rating:</dt>
				<dd class="col-sm-9">{{ match.min_rating }}</dd>
				<dt class="font-weight-light col-sm-3">Private:</dt>
				<dd class="col-sm-9">{{ match.private }}</dd>
				<dt class="font-weight-light col-sm-3">Owner:</dt>
				<dd class="col-sm-9">{{ match.owner.username }}{% if user_is_owner %} (You){% endif %}</dd>
			</dl>

			<!-- Only display options if match is not in past. -->
			{% if not match_is_in_past %}
				{% if user.is_authenticated %}

					<!-- Determine if the user is the owner or not. -->
					{% if user_is_owner %}

						<!-- Display owner related options. -->
						<a class="btn btn-success" href="#" role="button">Match Requests</a>
						<a class="btn btn-dark" href="#" role="button">Edit Details</a>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelMatchConfirmationModal">Cancel Match</button>

						<!-- Modal for displaying the requests. -->


						<!-- Modal for confirmation of cancelation; forces user to confirm their actions. -->
						<div class="modal fade" id="cancelMatchConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="cancelMatchConfirmationModalTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="cancelMatchConfirmationModalTitle">Cancel Match: {{ match.name }}</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>By clicking <q>Cancel</q> the match <q>{{ match.name }}</q> will be cancelled from running. Consequently, this match will no longer be accessible.</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
										<a class="btn btn-danger" href="{% url 'kitup:match_leave' match.id %}" role="button">Cancel Match</a>
									</div>
								</div>
							</div>
						</div>


					{% else %}

						<!-- Check if the user has joined already, or not. -->
						{% if user_participant is None %}

							<!-- Determine the button logo for joining the match. -->
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#joinMatchModal">
								{% if match.private or match_is_full %}
									Send Join Request
								{% else %}
									Join Match
								{% endif %}
							</button>

							<!-- START: User join request modal. -->
							<div class="modal fade" id="joinMatchModal" tabindex="-1" role="dialog" aria-labelledby="joinMatchModalTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<form id="participant_report_form" method="post">
											<div class="modal-header">
												<h5 class="modal-title" id="joinMatchModalTitle">
													{% if match.private or match_is_full %}
														Send Join Request for Match:
													{% else %}
														Join Match:
													{% endif %}
													{{ match.name }}
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p>By joining or requesting to join a match you agree to abide by the terms and conditions of the site.</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
												<a class="btn btn-success" href="{% url 'kitup:match_join' match.id %}" role="button">
													{% if match.private or match_is_full %}
														Send Join Request
													{% else %}
														Join Match
													{% endif %}
												</a>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- END: User join request modal. -->

						{% else %}

							<!-- The type of button that's to be displayed to the user for leaving the match. -->
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#joinMatchModal">
								{% if user_participant.accepted %}
									Leave Match
								{% else %}
									Cancel Join Request
								{% endif %}
							</button>

							<!-- START: User leave match modal. -->
							<div class="modal fade" id="leaveMatchModal" tabindex="-1" role="dialog" aria-labelledby="leaveMatchModalTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<form id="participant_report_form" method="post">
											<div class="modal-header">
												<h5 class="modal-title" id="leaveMatchModalTitle">
													{% if user_participant.accepted %}
														Leave Match: {{ match.name }}
													{% else %}
														Cancel <q>{{ match.name }}</q> Join Match Request
													{% endif %}
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p>By leaving or cancelling the request you will be withdrawn from match {{ match.name }}</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
												<a class="btn btn-success" href="{% url 'kitup:match_leave' match.id %}" role="button">
													{% if user_participant.accepted %}
														Leave Match
													{% else %}
														Cancel Join Match Request
													{% endif %}
												</a>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- END: User leave match modal. -->


						{% endif %}

						<!-- Display the match owner profile. -->
						{% get_match_owner_profile match.owner as match_owner_profile %}
						{% if match_owner_profile %}
							<a href="{% url 'kitup:user_view_profile' match_owner_profile.id %}" class="btn btn-dark" role="button">Match Owner</a>
						{% endif %}

					{% endif %}
				{% else %}

					<!-- If they are not authenticated, take them to the login page. -->
					<a class="btn btn-success" href="{% url 'kitup:user_login' %}" role="button">Login to Join</a>

				{% endif %}


			{% endif %}

		</div>
	</div>

	<!-- Display the players that have already joined the match. -->
	<hr>

	<!-- Displays the players that are participating in the match. -->
	<div class="row my-5">
		<div class="col-lg-12 text-center">
			<h3 class="font-weight-light">Match Participants</h3>
		</div>
	</div>

	<!-- Display the match participants. -->
	{% for participant in match_accepted_participants %}

		<!-- If we're displaying the first participant, open a new row -->
		{% if forloop.first %}<div class="row text-center">{% endif %}

		<!-- Generate a participant. -->
		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="http://placehold.it/500x325">

				<!-- Display the information about the user. -->
				<div class="card-body">
					<h5 class="card-title font-weight-light">{{ participant.profile.user.username }}</h5>
					<p class="card-text">
						Rating: {{ participant.profile.rating }}
					</p>
				</div>

				<!-- Defines the options permissible to the user for that player. -->
				<div class="card-footer">

					<!-- Display appropriate options. -->
					{% if not user.is_authenticated %}
						<a class="btn btn-dark w-100" href="{% url 'kitup:user_login' %}" role="button">Login to View</a>
					{% elif user_participant is None or not user_participant.accepted %}

						<!-- Not logged in, view the profile. -->
						<a class="btn btn-dark w-100" href="{% url 'kitup:user_view_profile' participant.profile.id %}" 
						role="button">View</a>

					{% else %}

						<!-- Display the regular options. -->
						<div class="row text-center">
							{% if match_is_in_past and participant.profile.user != user %}
								<div class="col pr-1">
									<a class="btn btn-success w-100" href="#" role="button">Rate</a>
								</div>
								<div class="col pl-1">
									<a class="btn btn-dark w-100" href="{% url 'kitup:user_view_profile' participant.profile.id %}" role="button">View</a>
								</div>
							{% else %}
								<div class="col">
									<a class="btn btn-dark w-100" href="{% url 'kitup:user_view_profile' participant.profile.id %}" role="button">View</a>
								</div>
							{% endif %}
						</div>

						<!-- Ensure that no action can be taken on ones self. -->
						{% if participant.profile.user != user %}
							{% if match_is_in_past %}

								<!-- Match is in the past, the player can only be reported. -->
								<div class="row text-left mt-2">
									<div class="col">


										<!-- START: Report player form modal. -->
										<button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#reportParticipant{{ participant.id }}Modal">Report</button>
										<div class="modal fade" id="reportParticipant{{ participant.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="reportParticipant{{ participant.id }}ModalTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<form id="report_participant_form" method="post">
														
														<!-- The title, the player that is being reported. -->
														<div class="modal-header">
															<h5 class="modal-title" id="reportParticipant{{ participant.id }}ModalTitle">Report Participant: {{ participant.profile.user.username }}</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>

														<!-- The body of the modal is the form for submitting reports. -->
														<div class="modal-body">
															<div class="row my-3">
																<div class="col"> {{ report_participant_form.reason | as_crispy_field }} </div>
															</div>

															<div class="row my-3">
																<div class="col"> {{ report_participant_form.desc | as_crispy_field }} </div>
															</div>
														</div>

														<!-- The options for submitting or cancelling the report. -->
														<div class="modal-footer">
															<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
															<a class="btn btn-success" href="{% url 'kitup:match_report' participant.id %}" role="button">Submit Report</a>
														</div>

													</form>
												</div>
											</div>
										</div>
										<!-- END: Report player form modal. -->


									</div>
								</div>

							{% else %}
								{% if user_is_owner %}

									<!-- Match is not in the past, and the owner can kick the player. -->
									<div class="row text-left mt-2">
										<div class="col">

											<!-- Start: Kick participant modal. -->
											<button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#kickParticipant{{ participant.id }}Modal">Kick</button>
											<div class="modal fade" id="kickParticipant{{ participant.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="kickParticipant{{ participant.id }}ModalTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<form id="participant_kick_form" method="post">
															
															<!-- Display the kick participant title. -->
															<div class="modal-header">
																<h5 class="modal-title" id="kickParticipant{{ participant.id }}ModalTitle">Kick Match Participant: {{ participant.profile.user.username }}</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>

															<!-- Display the conseqience of kicking someone fromt he match. -->
															<div class="modal-body">
																<p>By clicking <q>Kick Participant</q> the corresponding user ({{ participant.profile.user.username}}) will be kicked from the match.</p>
															</div>

															<!-- Display the buttons for the participant. -->
															<div class="modal-footer">
																<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
																<a class="btn btn-danger" href="{% url 'kitup:match_kick' participant.id %}" role="button">Kick Participant</a>
															</div>

														</form>
													</div>
												</div>
											</div>
											<!-- END: Kick participant modal. -->

										</div>
									</div>

								{% endif %}
							{% endif %}
						{% endif %}

					{% endif %}

				</div>
			</div>
		</div>

		<!-- Process rows. -->
		{% if forloop.last %}
			</div>
		{% else %}
			{% if forloop.counter|divisibleby:"4" %}</div><div class="row">{% endif %}
		{% endif %}

	{% endfor %}

</div>

{% endblock %}