{% extends 'kitup/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



<!-- Override the title of the page. -->
{% block title_block %}
    Profile!


{% endblock %}

{% block content_block %}
<link rel="stylesheet" type="text/css" href="{% static 'kitup/css/profile.css' %}">

<div class="container">
    <div class="col-md-12 row my-lg-5">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="../../media/default_profile_photo.png" class="img-responsive" alt=""></div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{ first_name }} {{ last_name }}</div>
                    <div class="profile-rating">Rating: {{ rating }}/5.0</div>
                </div>
                <!--
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-info  btn-sm">Report</button>
                </div>
                -->
            </div>
        </div>
        <div class="col-md-8">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Your info</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
                           <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
                            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--
                            <div role="tabpanel" class="tab-pane " id="settings">
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">Update Profile</div>
                                </div>
                                <form id="email_update_form"  class="col" method="post">
                                    <div class="row my-2">
                                        <div class="col">{{ user_update_form.email | as_crispy_field }}</div>
                                    </div>
                                    <button type="submit" class="btn btn-info  btn-sm">Update Email</button>

                                </form>
                                <form id="password_update_form" class="col" method="post">
                                    <div class="row my-2">
                                        <div class="col">{{ user_update_form.password | as_crispy_field }}</div>
                                        <div class="col">{{ user_update_form.password_confirm | as_crispy_field }}</div>
                                    </div>
                                    <button type="submit" class="btn btn-info  btn-sm">Update Password</button>
                                </form>

                            </div>
                            -->
                            <div role="tabpanel" class="tab-pane active" id="overview">
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">Coming up Games</div>
                                </div>
                                <div class="row my-5">
                                    <div class="col-lg-6 col-md-2 mb-4">

                                            <!-- Define the match description. -->
                                            {% if matches.len <= 0 %}
                                                No upcoming Matches!
                                            {% else %}
                                                {% for match in matches %}
                                                    <div class="card h-100">
                                                        <div class="card-body">

                                                            <!-- The name of the match. -->
                                                            <h4 class="card-title font-weight-light text-center">{{ match.name }}</h4>

                                                            <!-- General Description of match. -->
                                                            <dl class="row card-text">
                                                                <dt class="font-weight-light col-sm-4">Sport:</dt>
                                                                <dd class="col-sm-8">{{ match.sport }}</dd>
                                                                <dt class="font-weight-light col-sm-4">Date:</dt>
                                                                <dd class="col-sm-8">{{ match.start_datetime }}</dd>
                                                                <dt class="font-weight-light col-sm-4">Location:</dt>
                                                                <dd class="col-sm-8"></dd>
                                                            </dl>
                                                        </div>

                                                        <!-- Options for joining or leaving the match. -->
                                                        <div class="card-footer text-center">
                                                            <a class="btn btn-dark" href="#" role="button">View Details</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="history">
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">Finished Games</div>
                                </div>
                                <div class="row my-5">
                                    <!-- Define the card that's utilised for the addition of new players. -->
                                    <div class="col-lg-6 col-md-2 mb-4">
                                        <div class="card h-100">
                                            <!-- Define the match description. -->
                                            <div class="card-body">

                                                <!-- The name of the match. -->
                                                <h4 class="card-title font-weight-light text-center">Game Name</h4>

                                                <!-- General Description of match. -->
                                                <dl class="row card-text">
                                                    <dt class="font-weight-light col-sm-4">Sport:</dt>
                                                    <dd class="col-sm-8">Football</dd>
                                                    <dt class="font-weight-light col-sm-4">Date:</dt>
                                                    <dd class="col-sm-8">June, 6 10:20 until 11:20</dd>
                                                    <dt class="font-weight-light col-sm-4">Location:</dt>
                                                    <dd class="col-sm-8">35 Middleton Park, Brechin.</dd>
                                                </dl>
                                            </div>

                                            <!-- Options for joining or leaving the match. -->
                                            <div class="card-footer text-center">
                                                <a class="btn btn-dark" href="#" role="button">View Details</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}