{% extends 'kitup/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Required for the time / date pickers to function; relied upon by tempus Dominus -->
{% block css_block %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

<!-- Required for the time / date pickers to function; relied upon by tempus Dominus -->
{% block js_block %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{{ form.media }}
{% endblock %}

<!-- Override the title of the page. -->
{% block title_block %}
	Register
{% endblock %}

<!-- Override the content block for the page. -->
{% block content_block %}

<!-- Define the body of the registration page. -->
<div class="container mx-auto my-4">

	<!-- Define the heading for the page. -->
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="font-weight-light">Registration</h1><br>
			<h3 class="font-weight-light text-muted">Please provide the following information in order to sign up</h3>
		</div>
	</div>

	<!-- Separate the form from the title. -->
	<hr class="my-4">
	<div class="row">
		<div class="card card-signin col-lg-12 mx-auto my-5">
			<div class="card-body">
				<form id = "user_form" method = "post" action="{% url 'kitup:user_register' %}" enctype="multipart/form-data">

					{% csrf_token %}

					<!-- Defines the user name field. -->
					<div class="row my-3">
						<div class="col"> {{ user_form.username | as_crispy_field }} </div>
					</div>

					<!-- Displays the first and last name attributes that are necessary to be filled in. -->
					<div class="row my-3">
						<div class="col"> {{ user_form.first_name | as_crispy_field }} </div>
						<div class="col"> {{ user_form.last_name | as_crispy_field }} </div>
					</div>

					<!-- Displays the necessary fields for email confirmation. -->
					<div class="row my-3">
						<div class="col"> {{ user_form.email | as_crispy_field }} </div>
						<div class="col"> {{ user_form.confirm_email | as_crispy_field }} </div>
					</div>

					<!-- Displays the password fields. -->
					<div class="row my-3">
						<div class="col"> {{ user_form.password | as_crispy_field }} </div>
						<div class="col"> {{ user_form.confirm_password | as_crispy_field }} </div>
					</div>

					<!-- Displays the field for selecting the date of birth. -->
					<div class="row my-3">
						<div class="col-6"> {{ profile_form.date_of_birth | as_crispy_field }} </div>
					</div>

					<!-- Defines the profile picture. -->
					<div class="row my-3">
						<div class="col"> {{ profile_form.profile_picture | as_crispy_field}} </div>
					</div>


					<!-- Display the sign in option. -->
					<div class="row">
						<div class="col">
							<button class="col btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
						</div>
					</div>

					<!-- Display the already have an account link - takes you to the login 
					page. -->
					<div class="row my-3 text-center">
						<a class="col" href="{% url 'kitup:user_login' %}">Already have an account?</a>
					</div>

				</form>

				<!-- Divide our form with the social media APIs. -->
				<hr class="my-3">

				<div class="row my-4">
					<div class="col text-center">
						<h5 class="font-weight-light">Alternatively, register with your social media account</h5>
					</div>
				</div>

				<!-- Defines the buttons for logging in with facebook. -->
				<div class="row my-3">
					<div class="col text-center">
						<a class="btn btn-primary btn-lg w-100" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
					</div>
				</div>

				<!-- Defines the button link that is reponsible for registering with instagram. -->
				<div class="row my-3">
					<div class="col text-center">
						<a class="btn btn-dark btn-lg w-100" href="#"><i class="fa fa-instagram"></i>&nbsp; Instagram</a>
					</div>
				</div>

				<!-- Defines the button link that is responsible for signing up with google. -->
				<div class="row my-3">
					<div class="col text-center">
						<a class="btn btn-danger btn-lg w-100" href="#"><i class="fa fa-google"></i>&nbsp; Google</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}