{% extends 'kitup/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Required CSS Files -->
{% block css_block %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

<!-- Override the title of the page. -->
{% block title_block %}
	Login!
{% endblock %}

<!-- Override the content block for the page. -->
{% block content_block %}


<!-- Define the body of the registration page. -->
<div class="container mx-auto my-4">

	<!-- Define the heading for the page. -->
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="font-weight-light">Login</h1><br>
			<h3 class="font-weight-light text-muted">Sign in to join matches or create your own!</h3>
		</div>
	</div>

	<!-- Separate the form from the title. -->
	<div class="row">
		<div class="card card-signin col-lg-12 mx-auto my-5">
			<div class="card-body">
				<form id = "user_login_form" method = "post" action="{% url 'kitup:user_login' %}" enctype="multipart/form-data">

					<!-- Prevent session riding / one-click attack. -->
					{% csrf_token %}

					<div class="row my-3">
						<div class="col"> {{ user_login_form.username | as_crispy_field }} </div>
					</div>

					<div class="row my-3">
						<div class="col"> {{ user_login_form.password | as_crispy_field }} </div>
					</div>

					<button class="btn btn-lg btn-success btn-block" type="submit">Login</button>

					<!-- Provide a link to the recovery page, permits the user to change 
					their password. -->
					<div class="row my-3">
						<div class="col text-center">
							<a href="{% url 'kitup:password_reset' %}">Forgotten your password?</a>
						</div>
					</div>

					<!-- Permits the user to navigate to the registration page so that they
					can make themselves an account. -->
					<div class="row my-3">
						<div class="col text-center">
							<a href="{% url 'kitup:user_register' %}">Don't have an account?</a>
						</div>
					</div>

				</form>

				<!-- Divide our form with the social media APIs. -->
				<hr class="my-3">

				<div class="row my-4">
					<div class="col text-center">
						<h5 class="font-weight-light">Sign in using your social media account</h5>
					</div>
				</div>

				<!-- Defines the buttons for logging in with facebook. -->
				<div class="row my-3">
					<div class="col text-center">
						<a class="btn btn-primary btn-lg w-100" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
					</div>
				</div>

				<!-- Defines the button link that is reponsible for registering with instagram. -->
				<div class="row my-3">
					<div class="col text-center">
						<a class="btn btn-dark btn-lg w-100" href="#"><i class="fa fa-instagram"></i>&nbsp; Instagram</a>
					</div>
				</div>

				<!-- Defines the button link that is responsible for signing up with google. -->
				<div class="row my-3">
					<div class="col text-center">
						<a class="btn btn-danger btn-lg w-100" href="#"><i class="fa fa-google"></i>&nbsp; Google</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}