/* Defines a sticky footer i.e. position at bottom. */
.kitup-sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}

/* Defines a custom padding top attribute. */
.kitup-padding-top-56px {
	padding-top: 56px;
}

body {
  padding-top: 56px;
}
